<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- head -->
    <div>

    </div>

    <!-- body -->
    <div>
        <!-- input -->
        <div>
            <form action="." method="post" enctype="multipart/form-data">

                {% csrf_token %}
                {{form}}

                <button type="submit">Upload</button>
            </form>
            {% if obj %}
            <!-- <h3>Succesfully uploaded : {{obj.image.url}}</h3>
            <img src="{{ obj.image.url }}" alt="image" > -->
            <h5>{{text}}</h5>
            {% endif %}
            <hr>
        </div>

        <!-- output -->
        
    </div>
    <!-- footer -->
    <div>

    </div>

</body>

</html>